<h1>You've chosen to learn more about the following restaurant from the Railentless Collection</h1>

<h2> <%= @restaurant.name %></h2>
<p> <%= @restaurant.rating %></p>
<p><%= @restaurant.address  %></p>
